.rightColumnContainer {
    display: inline;
    width: 340px;
    min-width: 254px;
    padding: 20px;
    background-color: rgb(237, 240, 246);
    margin-top: 84px;
}

.rightColumnContainerTop {
    display: flex;
    justify-content: space-between
}
.rightColumnContainerTopImg a{
   margin: 10px;
}
.rightColumnContainerContacts{
    display: flex;
    flex-direction: column;
}

